.hero {
	// position: relative;
}


.hero > div {
	// position: relative;
}

.primary-nav {
	// position: absolute;
	padding: 5px;
	background-color: blue;
	right: 0;
	width: 100%;
	text-align: center;
}

.user-selections {
	height: 50px;
	background-color: magenta;
}

