hi from hbs
{{!-- {{#each this}}
	<div data-id="{{product_id}}" class="tile">
		<div class="tile-image">{{product_image}}</div>
		<div class="tile-details">
			<div class="tile-details1">{{brand}}</div>
			<div class="tile-details2">{{model}}</div>
			<div class="control">
				<button>Info</button>
				<button>Compare</button>
			</div>
		</div>
	</div>
{{/each}} --}}